$board-gap: 2px;

$line-height-lg: 50px;
$line-height-sm: 40px;

$background-image-lg: url(../public/images/background-lg.png);
$background-image-sm: url(../public/images/background-sm.png);

$padding-sm: 10px;
$padding-md: 20px;
$padding-lg: 30px;

$gap-lg: 60px;
$gap-md: 45px;
$gap-sm: 25px;